<html>

<head>
    <title> expresss-rss-reader </title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="/styles.css" rel="stylesheet">
</head>

<body>
    <h1 class="title">Express RSS Reader powered by node.js</h1>
    <% for( var i = 0; i < feedItems.length; i++){ %>
    <div class="article">
        <div class="article-header">
            <div class="article-header-image">
                <img src="<%= feedItems[i].enclosures[0].url %>">
            </div>
            <div class="article-header-title-wrapper">
                <div class="article-header-title">
                    <%- feedItems[i].title %>
                </div>
                <div class="article-header-created">
                    <%- moment(new Date(feedItems[i].created)).format('LLLL'); %>
                </div>
            </div>
        </div>
        <div class="article-description">
            <%- feedItems[i].description %>
        </div>
    </div>
    <% } %>
</body>

</html>