head {
    margin: 0 20% 0 20%;
    background-color: #0B0C10;
    color: white
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0 20% 0 20%;
    background-color: #0B0C10;
}

footer {
    padding: 12px;
}

#app-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

a {
    color: white;
}

.title {
    font-weight: bold;
    color: white;
}

.article-header {
    display: flex;
    flex-direction: row;
}

.article-header-image {
    width: 20%;
}

.article-header-image > img{
    height: auto;
    width: 100%;
}

.article-header-title-wrapper {
    flex-grow: 1;
    width: 100%;
    margin-left: 10px;
}

.article-header-title {
    font-size: 32px;
    font-weight: bold;
    color: #45A29E
}

.article-header-created {
    color: white;
}

.article-description {
    color: white;
}

.article {
    margin: 32px 0 32px 0;
    background-color: #1F2833;
    padding: 10px;
}