/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body {
        margin: 0 1% 0 1%;
    }

    head {
        margin: 0 1% 0 1%;
    }

    .article-header-title {
        font-size: 3rem !important;
    }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    body {
        margin: 0 1% 0 1%;
    }

    head {
        margin: 0 1% 0 1%;
    }

    .article-header-title {
        font-size: 3rem !important;
    }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body {
        margin: 0 1% 0 1%;
    }

    head {
        margin: 0 1% 0 1%;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body {
        margin: 0 20% 0 20%;
    }

    head {
        margin: 0 20% 0 20%;
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    body {
        margin: 0 20% 0 20%;
    }

    head {
        margin: 0 20% 0 20%;
    }
}

head {
    background-color: #0B0C10;
    color: white
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #0B0C10;
}

footer {
    padding: 12px;
}

#app-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

a {
    color: white;
}

.title {
    font-weight: bold;
    color: white;
}

.article-header {
    display: flex;
    flex-direction: row;
}

.article-header-image {
    width: 20%;
}

.article-header-image > img{
    height: auto;
    width: 100%;
}

.article-header-title-wrapper {
    flex-grow: 1;
    width: 100%;
    margin-left: 10px;
}

.article-header-title {
    font-size: 32px;
    font-weight: bold;
    color: #45A29E
}

.article-header-created {
    color: white;
}

.article-description {
    color: white;
}

.article {
    margin: 32px 0 32px 0;
    background-color: #1F2833;
    padding: 10px;
}